@media only screen and (min-width : 768px) {
  * {
    -ms-overflow-style: none;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  .paginationDots {
    display: inline;
    position: absolute;
    right: 20px;
    bottom: 20px;
    z-index: 1000
  }

  .img-height-60 {
    width: 27vw;
  }

  .img-height-50 {
    width: 35vw;
  }

  .img-height-55 {
    width: 34vw;
  }
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width : 768px) {
  .navbar {
    background: white;
  }

  .navbar.navbar-expand-md.navbar-light.fixed-top {
    background: linear-gradient(180deg, rgba(253, 253, 253, 1) 0%, rgba(253, 253, 253, 1) 88%, rgba(181, 186, 187, 1) 100%);
  }

  .img-height-60 {
      height: 50vh
  }

  .img-height-50 {
      height: 45vh
  }

  .img-height-55 {
      height: 50vh
  }

  .data-header {
      margin-top: 50px;
  }

  .extra-title {
    font-size: 1.3rem;
  }
}

.row {
  margin-right: 0;
  margin-left: 0;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
  padding-left: 0;
  padding-right: 0
}

/* Disability Left Components */

.global-div-component {
  height: 100vh;
  text-align: center;
  align-content: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 0 0;
  padding: 0 0 0 0
}

/* Disability Right Components */
/* Second Component */

.global-second-component {
  height: 100vh;
  background-color: #21b590;
  text-align: center;
  align-content: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin: 0 0 0 0;
  padding: 0 0 0 0
}

.second-title {
  font-weight: 800;
  text-align: right;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #0d0d0d;
  color: white
}

.span-title {
  font-weight: 700;
  color: grey
}

.m-padding {
  padding-top: 20px
}

.paragraph {
  font-weight: 500
}

/* Four Component */

.global-four-component {
  height: 100vh;
  background-color: #facd02;
  text-align: center;
  align-content: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1a1a1a;
  margin: 0 0 0 0;
  padding: 0 0 0 0
}

.strategy {
  font-weight: 300;
  text-align: center;
  color: black;
  position: relative;
  margin-right: 60px;
  margin: 0 60px 0 0;
  line-height: 1.1
}

.arrow {
  position: absolute;
  margin-top: 0%;
  margin-left: 30%;
  height: 10vh;
  transform: translate(-50%,-88%)
}

.disability-word {
    padding-top: 20px;
    font-weight: 500;
    text-align: center;
    color: black;
    margin: 0 0 0 0
}

.disability-word-heavy {
    font-weight: 900;
    font-size: 2.1rem;
    text-align: center;
    color: black;
    margin: 0 0 0 0;
    line-height: 1.1
}


/* Sixth Component */

.global-sixth-component {
  height: 100vh;
  background-color: #9b509f;
  text-align: center;
  align-content: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1a1a1a;
  margin: 0 0 0 0;
  padding: 0 0 0 0
}

/* Eight Component */

.global-eight-component {
  height: 100vh;
  background-color: #44b0de;
  text-align: center;
  align-content: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1a1a1a;
  margin: 0 0 0 0;
  padding: 0 0 0 0
}

/* Tenth Component */

.global-tenth-component {
  height: 100vh;
  background-color: #d72025;
  text-align: center;
  align-content: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1a1a1a;
  margin: 0 0 0 0;
  padding: 0 0 0 0
}

/* Download Buttons */

.btn-shadow {
  -webkit-box-shadow: 10px 10px 16px -10px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 16px -10px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 16px -10px rgba(0,0,0,0.75);
}

.button-color-yellow {
  background-color: #facd02;
}

.button-text-dark {
  font-size: 1rem;
  text-transform: uppercase;
  margin: 0 0 0 0;
  padding: 4px;
  color: #1a1a1a
}

.button-text-white {
  font-size: 1rem;
  text-transform: uppercase;
  margin: 0 0 0 0;
  padding: 4px;
  color: white
}

.button-color-yellow:hover {
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.4s ease 0s;
  background-color: #facd02;
}

.btn:hover {
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.4s ease 0s;
}

/* Data Component */

.data-header {
  text-align: center;
  align-content: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 90px;
  padding-bottom: 40px;
  background-color: #21b590
}

.data.title {
  padding-top: 20px;
  font-weight: 500;
  text-align: center
}

.green-data {
  background-color: #21b590;
}

.data-place {
  font-size: 1.2rem;
  background-color: #21b590;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}

.ref-heavy {
  font-weight: 700;
}

.data-facultad {
  font-size: 1.3rem;
  background-color: black;
  color: white;
  margin-top: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.data-info {
  padding-left: 10px;
  padding-left: 10px;
  font-size: 1.1rem
}

.data-contact {
  padding-left: 10px;
  padding-left: 10px;
  font-size: 1.0rem
}


/* About & Data Title */
.extra-title {
  font-weight: 800;
  text-align: right;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #0d0d0d;
  color: white
}

/* Extension Sign - About */
.extension-sign {
  font-size: 1rem;
  font-weight: 800
}

